version: '3.7'

services:
  db:
    image: postgres
    environment: 
      - POSTGRES_DB=crystal_todo
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - ./docker_postgres_init.sql:/docker-entrypoint-initdb.d/docker_postgres_init.sql
      - ./data:/Users/user/Documents/postgresql/data
      # - ./data:/var/lib/postgresql/data
    ports: 
      - '5000:5432'    
  web:
    image: crystallang/crystal
    restart: always
    environment:
      POSTGRES_URI: postgres://postgres:postgres@localhost:5432/crystal_todo
    build:
      context: ./
      dockerfile: Dockerfile
    depends_on:
      - db
    ports:
      - 4000:8080